body {
  width: 520px;
  min-height: 400px;
  overflow-x: hidden;
}

body.minimal-view {
  width: 420px;
  min-height: 400px;
  overflow-x: hidden;
}

main {
  width: 500px;
}

.minimal-view main {
  width: 400px;
}

#additional-info {
  position: absolute;
  right: 0px;
  margin: 8px 16px 0px 0px;
}

#native-shortcuts-hint {
  margin: 0px;
  margin-top: 8px;
}

#minimal-view-div {
  width: fit-content;
  margin-left: auto;
}

#is-minimal-view {
  margin-left: 0px;
}

main > h1 {
  padding-left: 2em;
  margin-bottom: 0;
}

section {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.minimal-view section {
  padding: 4px 8px;
}

section > h2 {
  /* margin-top: 0; */
  padding-left: 1em;
}

.minimal-view section > h2 {
  margin: 8px 0px 0px 0px;
  font-size: large;
}

article > section:first-child > h2 {
  margin-top: 36px;
}

article > section:last-child {
  margin-bottom: 16px;
}

section > .row {
  padding: 0px 8px;
  /* border: 1px solid; */
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.minimal-view section > .row {
  border-bottom: none;
}

section > .row > p {
  font-size: medium;
  white-space: nowrap;
}

.minimal-view section > .row > p {
  margin: 6px 0px;
  font-size: small;
}

section > .row > p:last-child {
  margin: 0px;
  flex-basis: 100px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.minimal-view section > .row > p:last-child {
  flex-basis: 80px;
}

.key {
  min-width: 31px;
  padding: 4px 8px;
  font-weight: 500;
  text-align: center;
  border: 2px solid gray;
  border-radius: 4px;
}

.minimal-view section .key {
  min-width: 22px;
  padding: 2px 4px;
  border-width: 1px;
  border-radius: 2px;
}

.active-key {
  border-color: forestgreen;
}

@media (prefers-color-scheme: dark) {
  body {
    color: azure;
    background-color: #202124;
  }

  section > .row {
    border-color: azure;
  }

  .active-key {
    border-color: seagreen;
  }

  input {
    color: white;
    background-color: #202124;
  }
}
